
@{
    ViewData["Title"] = "Upload";
}

<form enctype="multipart/form-data" method="post" action="/Auctions/Upload">
    <input type="file" name="file" value="Choose File" />
    <input type="submit" value="Submit" />
</form>

