nav .modal-backdrop {
    opacity: 0.0 !important;  
}

nav .modal-dialog {
    position: fixed;
    top: 20px; 
    right: 17.5px; 
    z-index: 10040; 
}

nav .modal-header {
    padding: 0.1rem; 
    border: none; 
}

nav .modal-body {
    margin: 0 auto; 
}

nav .modal-body > .row {
    margin: inherit; 
}

#login-modal .modal-dialog, #account-modal .modal-dialog {
    width: 290px;
    height: 495px;
    min-height: 495px;
}
