.modal-backdrop {
    opacity: 0.0 !important;  
}

.modal-dialog {
    position: fixed;
    top: 20px; 
    right: 17.5px; 
    z-index: 10040; 
}

.modal-header {
    padding: 0.1rem; 
    border: none; 
}

.modal-body {
    margin: 0 auto; 
}

.modal-body > .row {
    margin: inherit; 
}
