/*
    <body>
      <body-wrapper>
        <content-wrapper>
          <content-list>
          </content-list>
          <content-table>
          </content-table>
        </content-wrapper>
      </body-wrapper>
    </body>
*/

:root {
    --background: rgba(0, 0, 0, 0.9);
    --backgroud-light: rgba(0, 0, 0, 0.7); 
    --primary-color: #000;
    --secondary-color: rgb(43, 1, 18); /* gb(43, 0, 0) */
    --tertiary-color: rgb(43, 1, 18);
    --quarternary-color: rgb(66, 139, 202);
    --content-list-active-color: var(--secondary-color);
    --content-table-active-color: rgba(43, 1, 18, 0.7);
}


body {
    margin: 0 auto; 
}

#body-wrapper {
    padding: 10px;
    margin: 0;
    height: 720px;
}

#range-selector .form-check {
    background-color: var(--primary-color); 
    background: rgba(0, 0, 0, 0.5);
    border: 4px solid black;
    border-radius: 3px;
    margin-right: 0.5%;
    padding: 5px;
}

#range-selector .form-check label {
    color: white;
    font-size: 0.9em;
}

.opacity {
    opacity: 0.6;
    text-decoration: line-through;
}

#top-wrapper {
    background-color: var(--primary-color);
    background: var(--backgroud-light);
    border: 4px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    margin-bottom: 10px !important;
}

#top-slider {
    background-color: transparent; 
    width: 50%;
    max-width: 50%;
    padding: 5px;
}

#top-wrapper .irs-handle {
    transform: scale(0.65); 
}

#top-search {
    background-color: transparent;
    height: 100%;
    border-bottom: 1px ridge black;
    border-left: 0.5px ridge black;
    padding: 5px;
}

#top-search .row:first-of-type {
    margin-bottom: 7.5px;
}

#top-search #search {
    background-color: transparent;
    border-color: var(--quarternary-color); 
    color: white;
    width: 107.5%;
    height: 32.5px; 
    line-height: 0; 
    margin-right: 0 !important;
    padding-right: 0 !important;
}

    /*
    #top-search #search:-moz-placeholder,
    #top-search #search::-moz-placeholder,
    #top-search #search:-ms-input-placeholder
    */

    #top-search #search::-webkit-input-placeholder {
        color: white;
        opacity: 1.0 !important;
    }


#top-search label {
    color: white !important;
}


#top-search > .container > .row button[type="submit"] {
    height: 32.5px; 
    line-height: 0;
    position: relative; 
    left: -7.5px;
}

#content-wrapper {
    background-color: var(--primary-color);
    background: var(--background);
    height: 500px;
    margin: 0 auto;
    border: 4px solid black;
    border-radius: 3px;
    font-size: 0.95em;
}

    #content-wrapper ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #000;
    }

    #content-wrapper ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #F5F5F5;
    }

    #content-wrapper ::-webkit-scrollbar-corner {
        background-color: #000;
    }

    #content-wrapper ::-webkit-scrollbar-thumb {
        background-color: var(--quarternary-color);
    }

#content-list {
    background-color: transparent;
    width: 26%;
    float: left;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}


#content-list > .list-group {
    
}

    /* all of the list-items */
    #content-list .list-group-item {
        background-color: inherit;
        border: 3px solid;
        border-color: var(--secondary-color);
        color: white;
    }

    /* only the outer list-items */
    #content-list > .list-group .list-group-item {
        border-bottom: 3px solid;
        border-color: var(--secondary-color);
    }

#content-list .list-group-nested {
    display: none;
    margin-left: 25px;
    border-left: 3px solid;
    border-color: var(--secondary-color);
}

    #content-list .list-group-nested .list-group-item {
        border-top: none;
    }

    #content-list .list-group-nested .list-group-item:last-child {
        border-bottom: none;
    }

    #content-list > .list-group:last-child > .list-group-nested:last-child .list-group-item:last-child {
        border-bottom: 3px solid;
        border-color: var(--secondary-color);
    }



#content-list .active {
    background-color: var(--content-list-active-color) !important;
    border-color: var(--content-list-active-color);
}

#content-list .list-group-item-action:hover, #content.list .list-group-item-action:active {
   /* background-color: $.active.color */
}

    #content-list .list-group-item > .float-left {
        position: relative; 
        left: -10px; 
        top: 2px;  
    }

    #content-list .list-group-item > .float-right {
        position: relative; 
        right: -11px; 
    }


#content-table {
    background-color: transparent;
    height: 100%;
    width: 74%;
    float: right;
    overflow-y: scroll; 
    overflow-x: scroll; 
}

    #content-table > table {
        border-collapse: collapse; 
        width: 100%;
        background-color: inherit;
    }

        #content-table > table > thead {
            background-color: var(--tertiary-color); 
        }

            #content-table > table > thead > tr > th {
                border-color: var(--tertiary-color);
            }

    #content-table > table > thead > tr > th > a {
        color: white;
    }

    #content-table > table > tbody > tr {
        color: white;
    }

    #content-table > table > tbody > tr > td {
        cursor: pointer; 
    }

    #content-table .table-active {
        background: var(--content-table-active-color);
    }

#auctions-modal {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

#auctions-modal .modal-content {
    background-color: var(--primary-color);
    border: 4px solid var(--secondary-color);
    border-radius: 3px;
}

#auctions-modal .modal-header {
    padding: 0.1rem;
    border: none;
}

#auctions-modal .modal-header .modal-close {
    position: relative;
    left: -4px;
    top: -2.5px;
    color: white;
} 

#auctions-modal .modal-body {
    margin: 0 auto;
}

#modal-body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

    #modal-body-wrapper .modal-flex-content {
        border: 2px solid var(--secondary-color);
        border-radius: 3px;
        margin: 10px;
        color: white;
        display: table;
    }

    #modal-body-wrapper .modal-flex-content:first-child {
        height: 200px;
        width: 350px;
    }

    #modal-body-wrapper .modal-flex-content:nth-child(2) {
        width: 200px;
        height: 55px;
    }

    #modal-body-wrapper .modal-flex-content:last-child {
        width: 250px;
        height: 100px;
    }

        #modal-body-wrapper .modal-flex-content p {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    

#bottom-wrapper {
    margin-top: 10px;
    background-color: var(--primary-color);
    background: var(--backgroud-light);
    border: 4px solid black;
    border-radius: 3px;
}

#bottom-content {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

#bottom-content > input {
    margin-right: 5px; 
    height: 32.5px; 
    line-height: 0; 
    color: white;
}

    #bottom-content > input[type="number"] {
        width: 90px;
        text-align: center;
        background-color: transparent;
        color: white;
        border-color: var(--quarternary-color);
    }

#bottom-content > input[value="Buy"] {
    margin-right: 0; 
}

#bottom-content > input[type="button"] {
    width: 65px; 
}



.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer; 
}

.list-group-item .sv-inline--fa {
    margin-right: 5px;
}